@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  /* color */
  --clr-white: 0 0% 100%;
  --clr-dark-gray: 0 0% 19%;
  --clr-black: 0 0% 0%;

  /* font size*/
  --fs-10: 10px;
  --fs-12: 12px;
  --fs-15: 15px;
  --fs-20: 20px;
  --fs-100: 100px;

  /* font wight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  /* font family */
  --fs-sans-inter: "Inter", sans-serif;

  --line-height-quote: 22px;

  --letter-spacing-3px: 3px;
}

@media only screen and (min-width: 768px) {
  :root {
    --fs-10: 13px;
    --fs-12: 18px;
    --fs-15: 18px;
    --fs-20: 40px;
    --fs-100: 175px;

    --line-height-quote: 28px;

    --letter-spacing-3px: 3.6px;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --fs-10: 15px;
    --fs-15: 20px;
    --fs-20: 56px;
    --fs-100: 200px;

    --line-height-quote: 28px;

    --letter-spacing-3px: 4px;
  }
}

*,
*::after,
*::before {
  font-family: var(--fs-sans-inter);
  box-sizing: border-box;
  color: hsl(var(--clr-white));
  font-weight: var(--fw-400);
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

svg {
  vertical-align: middle;
  cursor: pointer;
}

body {
  line-height: 1.4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

body.day-time {
  background-image: url(./assets/mobile/bg-image-daytime.jpg);
}

body.night-time {
  background-image: url(./assets/mobile/bg-image-nighttime.jpg);
}

@media only screen and (min-width: 768px) {
  body.day-time {
    background-image: url(./assets/tablet/bg-image-daytime.jpg);
  }
  body.night-time {
    background-image: url(./assets/tablet/bg-image-nighttime.jpg);
  }
}

@media only screen and (min-width: 1440px) {
  body.day-time {
    background-image: url(./assets/desktop/bg-image-daytime.jpg);
  }
  body.night-time {
    background-image: url(./assets/desktop/bg-image-nighttime.jpg);
  }
}

/* Utility class */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow, 1rem);
}

.d-inline-block {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

/* color */
.bg-dark-gray {
  background-color: hsl(var(--clr-dark-gray));
}

/* typography */
.text-dark-gray {
  color: hsl(var(--clr-dark-gray) / var(--alpha, 100%));
}

.text-black {
  color: hsl(var(--clr-black) / var(--alpha, 100%));
}

.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-3px);
}

.fs-10 {
  font-size: var(--fs-10);
}
.fs-12 {
  font-size: var(--fs-12);
}
.fs-15 {
  font-size: var(--fs-15);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-100 {
  font-size: var(--fs-100);
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}

.line-height-q {
  line-height: var(--line-height-quote);
  flex: 1;
}

/* ----------------------------------------------------------- */

.filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(var(--clr-black));
  mix-blend-mode: normal;
  opacity: 0.4;
  z-index: -1;
}

main {
  /* min-height: 100vh; */
  align-content: space-between;
  padding: 26px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

main.show {
  translate: 0 -266px;
}

.quote ~ * {
  flex: 1;
}

.quote .icon-refresh {
  width: 17px;
  height: 17px;
  fill: hsl(var(--clr-white));
  opacity: 0.5;
}

.quote .icon-refresh.fetch {
  -webkit-animation: fetch 1.5s infinite linear;
  -moz-animation: fetch 1.5s infinite linear;
  animation: fetch 1.5s infinite linear;
}

@keyframes fetch {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.quote .icon-refresh:hover {
  opacity: 1;
}

.locale-info {
  --flow: 3rem;
  padding-bottom: 14px;
}

.locale-info > section > * {
  align-items: center;
}

.locale-info .icon {
  width: 24px;
  height: 24px;
  fill: hsl(var(--clr-white));
}

.hide-in-mobile {
  display: none;
}

.more-button {
  position: relative;
  width: 115px;
  max-height: 56px;
  align-items: center;
  padding: 12px 16px;
  border-radius: 28px;
  background-color: hsl(var(--clr-white));
  cursor: pointer;
  transition: 0.1s linear;
}

.more-button > p {
  letter-spacing: 3.75px;
  --alpha: 50%;
  transition: 0.1s linear;
}

.more-button > button {
  position: absolute;
  right: 4px;
  place-items: center;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background-color: hsl(var(--clr-dark-gray));
  transition: 0.1s linear;
  cursor: pointer;
}

.more-button > button .icon-arrow-down {
  width: 12px;
  height: 12px;
  fill: none;
  stroke: hsl(var(--clr-white));
  stroke-width: 3;
  transition: 0.3s linear;
}

.more-button > button .icon-arrow-down.show {
  rotate: 180deg;
  translate: 0 -2px;
}

.more-button:hover > button {
  background-color: #999999;
}

.state-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 256px;
  padding: 3rem 26px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: hsl(var(--clr-white) / 75%);
  backdrop-filter: blur(40.7742px);
  opacity: 0;
  translate: 0 256px;
  transition: all 0.5s ease-out;
}

.state-info.show {
  opacity: 1;
  translate: 0 0;
}

.state-info * {
  color: hsl(var(--clr-dark-gray));
  justify-content: space-between;
  align-items: center;
}

.state-info.night-time {
  background-color: hsl(var(--clr-black) / 75%);
}

.state-info.night-time * {
  color: hsl(var(--clr-white));
}

.state-info .title {
  letter-spacing: 2px;
}

.state-info .value {
  text-align: right;
}

.state-info .divider {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 4rem;
    padding-top: 5rem;
    padding-right: 131px;
  }

  main.show {
    translate: 0 -440px;
  }

  .quote .icon-refresh {
    width: 20px;
    height: 20px;
  }

  .hide-in-mobile {
    display: inline;
  }

  .locale-time span {
    font-size: 2rem;
  }

  .more-button {
    width: 146px;
    padding: 16px 20px;
  }

  .more-button > p {
    letter-spacing: 5px;
  }

  .more-button > button {
    right: 8px;
    width: 40px;
    height: 40px;
  }

  .more-button > button .icon-arrow-down {
    width: 16px;
    height: 16px;
  }

  .state-info {
    column-gap: 5rem;
    row-gap: 3rem;
    height: 440px;
    translate: 0 440px;
    padding-block: 119px;
    padding-left: 4rem;
    padding-right: 166px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(var(--clr-white) / 70%);
    backdrop-filter: blur(25.7742px);
  }

  .state-info * {
    --gap: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    padding-top: 7vh;
    padding-inline: 11.4vw;
    padding-bottom: 10vh;
  }

  main.show {
    translate: 0 -42vh;
  }

  .quote {
    max-width: 575px;
  }

  .locale-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .locale-time span {
    font-size: 40px;
  }

  .geo-location {
    font-size: 24px;
    letter-spacing: 4.8px;
  }

  .state-info {
    height: 50vh;
    translate: 0 50vh;
    padding-block: 74px;
    padding-left: 11.3vw;
    padding-right: 30vw;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .state-info .title {
    letter-spacing: 3px;
  }

  .state-info * {
    --gap: 0.5rem;
  }

  .state-info .divider {
    display: block;
    justify-self: center;
    width: 1px;
    height: 100%;
    background-color: #303030;
    opacity: 0.25;
    grid-area: 1 / 2 / 3;
  }
}
